@{
    ViewBag.Title = "Об игре";
}
<div id="main" style="background: url(../../fonts/texture/3-fon-dlya-sayta.png)">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="first">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 mainsize" style="background-color: #101210; border: 6px double black; border-radius: 16px; margin-top: 50px; margin-bottom: 50px; " id="mainblock">
                <div class="row " style="background-color: #090809;">
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="height: 20px; ">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 youtubesize" id="video">
                        <div class="container-fluid text-center videosize">
                            <iframe src="http://www.youtube.com/embed/ZlkTg5kPk30?rel=0" allowfullscreen="" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <h3 style="color: #9A8866;">
                                    Люди, которые разрабатывали Void in fate являются простыми студентами.
                                    Чуть ниже представлена информация о тех, кто работал над игрой:
                                </h3>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                        <img src="../../fonts/Asheenko.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                        <h4>Руководитель проекта</h4>
                                        <br>
                                        <h5>Саша Шеенко</h5>
                                        <p>Главный разработчик игры, создаёт на RPG Maker MV</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                        <img src="../../fonts/azar.jpg">
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                        <h4>Художник</h4>
                                        <br>
                                        <h5>Азар Боргояков</h5>
                                        <p>Работает над оформлением сайта</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                        <img src="../../fonts/Кирилл.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                        <h4>Художник</h4>
                                        <br>
                                        <h5>Кирилл Назмутдинов</h5>
                                        <p>Работает над дизайном в игре</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                        <img src="../../fonts/Сергей.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                        <h4>FrontEnd-разработчик</h4>
                                        <br>
                                        <h5>Сергей Грибинюк</h5>
                                        <p>Работает над внешней оболочкой сайта, создаёт на HTML 5, CSS, Bootstrap</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow text-center">
                                        <img src="../../fonts/Pashtet.jpg">
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                        <h4>FrontEnd и BackEnd разработчик</h4>
                                        <br>
                                        <h5>Павел Терентьев</h5>
                                        <p>
                                            Ответственный за разработку сайта, создаёт FrontEnd на HTML 5, CSS, Bootstrap,
                                            BackEnd на Asp.net MVC
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="second">
            </div>


        </div>
    </div>
</div>

