@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/specialstyle.css">
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/specialstyle.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="head">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Void in fate</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="about.html">Об игре</a></li>
                    <li><a href="blog.html">Новости</a></li>
                    <li><a href="blog.html">Поддержка</a></li>
                    <li><a href="contact.html">Скачать</a></li>
                    <li><a href="account.html">Аккаунт</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main" style="background-color: #090809">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="first">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 mainsize" style="background-color: #101210" id="mainblock">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="height: 20px; background-color: #090809;">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 youtubesize" id="video">
                            <div class="container-fluid text-center videosize">
                                <iframe src="http://www.youtube.com/embed/pEU7x4Ntf7c?rel=0" allowfullscreen="" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <h3 style="color: #9A8866;">
                                        Люди, которые разрабатывали Void in fate являются простыми студентами.
                                        Чуть ниже представлена информация о тех, кто работал над игрой:
                                    </h3>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                            <img src="image/Asheenko.png">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                            <h4>Руководитель проекта</h4>
                                            <br>
                                            <h5>Саша Шеенко</h5>
                                            <p>Главный разработчик игры, создаёт на RPG Maker MV</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                            <img src="image/azar.jpg">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                            <h4>Художник</h4>
                                            <br>
                                            <h5>Азар Боргояков</h5>
                                            <p>Работает над оформлением сайта</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                            <img src="image/Кирилл.png">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                            <h4>Художник</h4>
                                            <br>
                                            <h5>Кирилл Назмутдинов</h5>
                                            <p>Работает над дизайном в игре</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow">
                                            <img src="image/Сергей.png">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                            <h4>FrontEnd-разработчик</h4>
                                            <br>
                                            <h5>Сергей Грибинюк</h5>
                                            <p>Работает над внешней оболочкой сайта, создаёт на HTML 5, CSS, Bootstrap</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inforow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagerow text-center">
                                            <img src="image/Pashtet.jpg">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textrow">
                                            <h4>FrontEnd и BackEnd разработчик</h4>
                                            <br>
                                            <h5>Павел Терентьев</h5>
                                            <p>
                                                Ответственный за разработку сайта, создаёт FrontEnd на HTML 5, CSS, Bootstrap,
                                                BackEnd на Asp.net MVC
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="second">
                </div>


            </div>
        </div>
    </div>


    <!--Footer-->
    <footer class="page-footer font-small unique-color-dark pt-0">


        <!--Footer Links-->
        <div class="container-fluid mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>ConservantGames</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Игра для проекта по введению в инженерную деятельность</p>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>For development</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://getbootstrap.com/">Bootstrap</a>
                    </p>
                    <p>
                        <a href="https://www.rpgmakerweb.com">RPG Maker MV</a>
                    </p>
                    <p>
                        <a href="https://www.asp.net/mvc">Asp.net MVC</a>
                    </p>

                </div>
                <!--/.Second column-->
                <!--Third column-->
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Полезные ссылки</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Твой аккаунт</a>
                    </p>
                    <p>
                        <a href="#!">Скачать</a>
                    </p>
                    <p>
                        <a href="#!">О команде</a>
                    </p>
                    <p>
                        <a href="#!">Поддержка</a>
                    </p>
                </div>
                <!--/.Third column-->
                <!--Fourth column-->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Контакты</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i> Красноярск, автобус номер 2
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> ConservantGames@yandex.ru
                    </p>

                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->
        <!-- Copyright-->
        <div class="footer-copyright py-3 text-center" id="footerspecial" style="background-color: black" style="width: 100%">
            © 2018 Copyright:

            <strong> ConservantGames</strong>

        </div>
        <!--/.Copyright -->

    </footer>
    <!--/.Footer-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>

