
@{
    ViewBag.Title = "Скачать";
}

<div id="main" style="background: url(../../fonts/texture/3-fon-dlya-sayta.png)">
    <div class="container-fluid">
        <div class="row" style=" min-height: 1000px;">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="first">

            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 " style="background-color: #101210; border: 6px double black; border-radius: 16px; min-height: 500px; margin-top: 60px;" id="second">
                <div class="row ">
                    
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #020e1b;color: white; min-height: 300px;">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3>Скачайте файл установки и просто запустите.</h3>
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center buttondownload">
                                <a href="#" class="btn btn-warning">Яндекс диск</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center buttondownload">
                                <a href="#" class="btn btn-warning">Маил диск</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center buttondownload">
                                <a href="#" class="btn btn-warning">Google диск</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #020e1b;color: white; min-height: 300px; border-top: 2px dashed #a0aa9f">
                        <h1>СИСТЕМНЫЕ ТРЕБОВАНИЯ</h1>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style=" min-height: 300px;">
                                <h2>Минимальные:</h2>
                                <br>
                                <p>Операционная система: Windows 7/8 (32-bit)</p>

                                <p>Процессор (CPU): Intel Core2 Duo/AMD Athlon® 64 X2 5600+</p>

                                <p>Оперативная память (RAM): 2 GB (или более)</p>

                                <p>Видеокарта: Intel HD graphics</p>

                                <p>Аудиокарта: совместимая с DirectX 9.0c</p>

                                <p>Свободное место на жестком диске: 2 GB</p>

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="background-color: #020e1b; min-height: 300px;">
                                <h2>Рекомендуемые:</h2>
                                <br>
                                <p>Операционная система: Windows 7/8 (64-bit)</p>

                                <p>Процессор (CPU): Intel Core2 Duo/AMD Athlon® 64 X2 5600+</p>

                                <p>Оперативная память (RAM): 3 GB (или более)</p>

                                <p>Видеокарта: GeForce 260/ATI HD4870 с 1Gb видеопамяти</p>

                                <p>Аудиокарта: совместимая с DirectX 9.0c</p>

                                <p>Свободное место на жестком диске: 4 GB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">

            </div>


        </div>
    </div>
</div>

